In [6]:
import math
import pandas as pd

In [7]:
data = pd.read_csv("assi3_data.csv")
data

   X  Y   class
0  2  4  yellow
1  4  2  yellow
2  6  2    blue
3  6  4  yellow
4  4  6  yellow
5  4  4    blue

In [13]:
def euclideanDistance(instance1, instance2):
    distance = 0
    for x in range(len(instance1)):
        distance += pow((instance1[x] - instance2[x]), 2)
    return math.sqrt(distance)

# euclideanDistance([1,2],[4,6])

5.0

In [ ]:
def getNeighbors(trainingSet, testInstance, k):
    distances = []
    length = len(testInstance)-1
    for x in range(len(trainingSet)):
        dist = euclideanDistance(testInstance, trainingSet[x], length)
        distances.append((trainingSet[x], dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors