In [22]:
import pandas as pd
from sklearn import tree

In [23]:
data  = pd.read_csv("Data.csv")
data

   country   Size
0    India    Big
1  America   Big
2    Japan  Small

In [24]:
new_data = pd.get_dummies(data)
new_data

,country_America,country_India,country_Japan,Size_Big,Size_Big,Size_Small
0,0,1,0,1,0,0
1,1,0,0,0,1,0
2,0,0,1,0,0,1

In [25]:
def Categorize(data):
    data['country'] = data['country'].astype('category',categories=["India","America","Japan","China"])

In [26]:
Categorize(data)

S:\software\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead

In [27]:
new_data = pd.get_dummies(data)
new_data

,country_India,country_America,country_Japan,country_China,Size_Big,Size_Big,Size_Small
0,1,0,0,0,1,0,0
1,0,1,0,0,0,1,0
2,0,0,1,0,0,0,1

In [31]:
# new_data.iloc[:,0:4]
# new_data.iloc[:,4:]
model = tree.DecisionTreeClassifier()
model.fit(new_data.iloc[:,0:4],new_data.iloc[:,4:])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [41]:
#predict
test = pd.DataFrame({'country':['India']})
test

  country
0   India

In [42]:
Categorize(test)
new_test = pd.get_dummies(test)
new_test

S:\software\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead

   country_India  country_America  country_Japan  country_China
0              1                0              0              0

In [43]:
predicty = model.predict(new_test)
predicty

array([[1., 0., 0.]])